# Place in ~/.gitconfig
[user]
	# TODO: Update this
	# email = <email>
	name = Gian Hancock
[init]
	defaultBranch = main
[alias]
	logp = log --oneline --all --graph --decorate
	logps = log --oneline --all --graph -n 15 --decorate
    f = !git fetch && git logps
	wip = "!f() { \
			branch_name=\"$(git branch --show-current)\"; \
			if [[ \"$branch_name\" != gian/wip--* ]]; then \
				branch_name=\"gian/wip-$(git branch --show-current)-$(git rev-parse --short HEAD)\"; \
				git checkout -b \"$branch_name\"; \
			fi; \
			git commit --no-verify -m \"WIP: $1\" && git push -u origin \"$branch_name\"; \
			git logps; \
			git status; \
		}; f"
    # ext = !'C:\\Program Files (x86)\\GitExtensions\\gitex.cmd' browse .
[credential]
	helper = cache --timeout=3600
[core]
	autocrlf = false
	# TODO: Put hooks in hooks path and update this
	# hooksPath = C:\Users\GianHancock\.githooks
