# Place in ~/.gitconfig or %USERPROFILE%/.gitconfig
[user]
    # TODO: email = <email>
	name = Gian Hancock
[init]
	defaultBranch = main
[alias]
    # log-long
	ll = log --oneline --all --graph --decorate
    # log
	l = log --oneline --all --graph -n 15 --decorate
    # fetch
    f = !git fetch && git l
    # checkout-soft
    cs = symbolic-ref HEAD
    # work-in-progress
	wip = "!f() { \
			branch_name=\"$(git branch --show-current)\"; \
			if [[ \"$branch_name\" != gian/wip-* ]]; then \
				branch_name=\"gian/wip-$(git branch --show-current)-$(git rev-parse --short HEAD)\"; \
				git checkout -b \"$branch_name\"; \
			fi; \
			git commit --no-verify -m \"WIP: $1\" && git push -u origin \"$branch_name\"; \
			git l; \
			git status; \
		}; f"
    # ext = !'C:\\Program Files (x86)\\GitExtensions\\gitex.cmd' browse .
[credential]
	helper = cache --timeout=3600
[core]
	autocrlf = false
	# editor = C:/users/gianh/repo/zed/target/release/zed.exe
	hooksPath = C:/users/gianh/.githooks
	#TODO: Put copy hooks to hooksPath and uncomment set hooksPath = ~/.githooks or %USERPROFILE%/.githooks
[fetch]
	prune = true